Broken example as per RFC 6749

In the _example/application.rb_ the expected initial request as given in the commented line is: 

<blockquote>
# /oauth/authorize?<b>response_type=token</b>&client_id=...
</blockquote>


With [RFC 6749 section 4.1.1](http://tools.ietf.org/html/rfc6749#section-4.1.1) , the only allowable `response_type` is `code`.

I'm using Omniauth-OAuth2 which seems to adhere to the current RFC standard which won't allow the `response_type` to be changed to anything else. This has affected the flow in the _example/application.rb_.

Reference: http://stackoverflow.com/questions/6354262/omniauth-cant-change-response-type-to-token-in-strategy
